.outerContainer {
  height: 100%;
}

.detailPage {
  display: grid;
  grid-template-columns: 46% 54%;
  height: 100%;
}

.backButton, .backButtonV2 {
  position: fixed;
  display: flex;
  align-items: center;
  color: white;
  left: 2.0rem;
  bottom: 85%;
  cursor: pointer;
}

.backButtonV2 {
  color: black;
}

.imageContainer {
  display: flex;
  align-items: center;
  overflow:hidden
}

.poster {
  height: 107%;
}


.movieInfo {
  margin-top: 5%;
  margin-right: 9%;
  display: grid;
  grid-template-rows: 5% 7% 5% 6% 5% 25% 12% 12% 1fr;
}

.popularity {
  background-color: #F12BBA;
  padding-inline: 7px;
  border-radius: 5px;
  color: white;
}

.genreRow {
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.genre {
  color: #50CC98;
  font-size: .8rem;
}

.divider {
  margin-inline: .7rem;
  font-size: 1.5rem;
  color: #BFBFBF;
}

.rating {
  margin-left: 1rem;
}

.infoRow {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5%;
}

.dataPiece {
  display: grid;
  grid-template-rows: 10% 1fr;
  margin-top:5%;
}

.label{
  font-weight:900;
  font-size: 1.1rem;
}

.data {
  font-size: .9rem;

}

.oops {
  display: flex;
  justify-content: center;
}