.wrapper {
  height: 100vh;
  width: 100vw;
}

.layout {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.mainWrapper {
  overflow: auto;
}
